@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .border-gradient {
      border: 2px solid;
      background-clip: padding-box;
      border-image-source: linear-gradient(to bottom right, #8b5cf6, #2563eb);
      border-image-slice: 1;
    
    }
  }
  
  .rtl-animation {
    transform: scaleX(-1); /* This will flip the element horizontally */
    animation: bounceRightToLeft 1s infinite; /* Adjust the animation properties as needed */
  }
  
  @keyframes bounceRightToLeft {
    0%, 20%, 50%, 80%, 100% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(-100%); /* Adjust the distance based on your requirements */
    }
    60% {
      transform: translateX(-50%); /* Adjust the distance based on your requirements */
    }
  }
  

  .table-container {
    max-height: 14rem; /* Adjust height as needed */
    overflow-y: auto;
  }
  
  /* Style for the scrollbar */
  .table-container::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  /* Track */
  .table-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
  }
  
  /* Handle */
  .table-container::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 4px; /* Roundness of the scrollbar handle */
  }
  
  /* Handle on hover */
  .table-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
  }
  